:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
    --blue-grey-950: #191919;
    /* --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --small-screen: 390px;
    --medium-screen: 770px;
    --large-screen: 1440px; */
}


html {
    scroll-behavior: smooth;
}


/* Libre baskerville  */


/* ****************** */
/* Small Size 435px */
/* ****************** */

body {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
}

header,
footer {
    background-color: var(--blue-grey-950);
    color: #fff;
    padding: 2rem 4rem;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: var(--spacing-large)*9.4; */
}

.logo>img {
    height: 58px;
    width: var(--spacing-medium) * 5.75;
}

.logo>h1 {
    font-size: 56px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    list-style-type: none;
    padding-left: 0;
}

h2 {
    font-weight: normal;
}

main {
    margin: 0 auto;

}

.container-1 {
    padding: 0 2rem;
    padding-top: 64px;
    background: var(--blue-grey-50);
}

.container-1>h2 {
    font-size: 36px;
    font-family: "Georgia", serif;
}


.container-1>button {
    color: var(--blue-grey-50);
    background-color: #111111;
    border-radius: 6px;
    padding: 16px 18px;
    margin-top: 52px;
    font-size: 16px;

}

.container-1>img {
    border-radius: 8px;
    height: auto;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 64px;
}

span {
    display: block;
    font-weight: bold;
}

.container-2 {
    padding: 0 2rem;
    padding-top: 64px;
}

.container-2 section:first-child>h2 {
    font-family: "Georgia", serif;
    font-size: 32px;

}

.container-2 p {}